/* This is for the background color */
html {
	background-color: #435b74;
	background-image: linear-gradient(120deg, #1E90FF, #87CEEB);
	min-height: 100%;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	min-width: 80%;
	min-height: 100%;
}

#content {
	transition: margin-top 0.2s;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;
	min-height: 100%;
}

.title {
	margin-bottom: 2rem;
	color: #fff;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
}

.mainContent {
	padding: 0;
	margin: 0 auto;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
	line-height: 1.5;
	color: #fff;
	text-align: center;
}

.elements {
	width: 100%;
}

/* Style the footer */
.footer {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
}

.footer a {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
	text-decoration: underline;
}

/* Style the buttons */
.btn {
	display: inline-block;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	text-decoration: none;
	vertical-align: bottom;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
	.btn + .btn {
		margin-left: 1rem; }

.btn:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3); }

#location {
	padding-top: 0.5rem;
}

#related {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
	margin: 2rem;
}

#related a {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
	text-decoration: underline;
}

/* Hide unnecessary elements*/
#returnButton {
	display: none;
	margin: 2rem auto;
}

.sk-folding-cube {
	display: none;
}

#stationIdentifier {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	border-radius: 0.3rem;
	border-width: 0px;
	outline: none;
	transition: font-size 0.2s;
}

.loadingText {
	display: none;
}

@media screen and (min-width: 64em) {
	.btn {
		padding: 0.85rem 1rem; }
	#stationIdentifier {
		max-width: 30%;
		font-size: 2.0rem;
		padding: 0.4rem; 
		transition: font-size 0.2s; }
	.footer {
		position: fixed;
		text-align: right;
		bottom: 1em; 
		right: 1em; }
	}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.btn {
		padding: 0.6rem 0.9rem;
		font-size: 0.9rem; }
	#stationIdentifier {
		padding: 0.45rem  0.5rem;
		font-size: 1.5rem; 
		transition: font-size 0.2s; }
	.footer {
		text-align: right;
		position: fixed;
		bottom: 1em; 
		right: 1em; }
	}

@media screen and (max-width: 42em) {
	.btn {
		display: inline-block;
		width: 85%;
		padding: 0.75rem;
		font-size: 0.9rem; 
		margin-top: 0.5rem;
		margin-left: auto;
		margin-right: auto; 
		margin-bottom: 2rem;}
		.btn + .btn {
			margin-top: 1rem;
			margin-left: 12.5%; } 
	#stationIdentifier {
		margin-bottom: 0rem;
		padding: 1rem;
		width: 83%;
		font-size: 1.5rem; 
		transition: font-size 0.2s; }
	.footer {
		display: none; }
	}

/* Style the title, tagline, instruction text */
.projectName {
	transition: font-size 0.2s; 
}

.instruction {
	max-width: 85%;
	margin: auto;
	padding-bottom: 1rem;
	font-weight: normal;
}

.projectName {
	transition: font-size 0.2s;
}

@media screen and (min-width: 64em) {
	.projectName {
		font-size: 4rem; } 
	.instruction {
		font-size: 1.25rem; } 
	}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.projectName {
		font-size: 3rem; } 
	.instruction {
		font-size: 1.15rem; } 
	}

@media screen and (max-width: 42em) {
	.projectName {
		font-size: 2rem; } 
	.instruction {
		font-size: 1rem; }
	}

/* Style the METAR text */
@media screen and (min-width: 64em) {
	.metarDiv {
		font-size: 1.25rem; 
		width: 75%; 
		margin: auto; } 
	.translatedMetarDiv {
		font-size: 1rem;
		width: 50%; 
		text-align: center;
		margin: auto; }
	.metarText{
		width: 50%;
		margin: auto;
		padding-bottom: 2em;
	}
	.translatedMetarText {
		font-size: 0.9rem;
		width: 33%;
		text-align: center;
		vertical-align: middle;
		display: inline-block; }
	}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.metarDiv{
		font-size: 1.15rem; 
		width: 80%; 
		margin: auto; } 
	.translatedMetarDiv {
		font-size: 1rem;
		width: 80%; 
		text-align: center;
		margin: auto; }
	.metarText{
		margin: auto;
		padding-bottom: 2em;
	}
	.translatedMetarText {
		font-size: 0.9rem;
		width: 80%;
		margin: auto;
		text-align: center;
		display: block; }
	}

@media screen and (max-width: 42em) {
	.metarDiv{
		font-size: 1rem; 
		width: 85%; 
		margin: auto; }
	.translatedMetarDiv {
		font-size: 1rem;
		width: 85%; 
		text-align: center;
		margin: auto; }
	.metarText{
		margin: auto;
		padding-bottom: 2em;
	}
	.translatedMetarText {
		font-size: 0.9rem;
		width: 85%;
		margin: auto;
		text-align: center;
		display: block; }
	}

/* Folding Cube loading animation from http://tobiasahlin.com/spinkit/ */
.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
0%, 10% {
	-webkit-transform: perspective(140px) rotateX(-180deg);
	transform: perspective(140px) rotateX(-180deg);
	opacity: 0; 
	} 25%, 75% {
	-webkit-transform: perspective(140px) rotateX(0deg);
	transform: perspective(140px) rotateX(0deg);
	opacity: 1; 
	} 90%, 100% {
	-webkit-transform: perspective(140px) rotateY(180deg);
	transform: perspective(140px) rotateY(180deg);
	opacity: 0; 
} 
}

@keyframes sk-foldCubeAngle {
0%, 10% {
	-webkit-transform: perspective(140px) rotateX(-180deg);
	transform: perspective(140px) rotateX(-180deg);
	opacity: 0; 
	} 25%, 75% {
	-webkit-transform: perspective(140px) rotateX(0deg);
	transform: perspective(140px) rotateX(0deg);
	opacity: 1; 
	} 90%, 100% {
	-webkit-transform: perspective(140px) rotateY(180deg);
	transform: perspective(140px) rotateY(180deg);
	opacity: 0; 
}
}

/* Paper Plane Animation */

svg {
	max-width: 100%;
	height: 3em;
	display: block;
	transition: max-height 0.2s
}

/* Paper Plane: Container */
@media screen and (max-height: 40em) {
	.planeContainer {
		max-width: 50%;
		max-height: 1.5em;
		z-index: 3;
		margin: 0 auto;
	}
	.plane {
		width: 100%;
		max-height: 1.5em;
	}
}

@media screen and (min-height: 40em) {
	.planeContainer {
		max-width: 50%;
		max-height: 3em;
		z-index: 3;
	}
	.plane {
		width: 100%;
		max-height: 3em;
	}
}

/* Paper Plane: Animation from http://codepen.io/ItsJonQ/pen/yvfDF/ */

.planeContainer {
	-webkit-animation: paper-plane-scoping 2s alternate infinite;
	-moz-animation: paper-plane-scoping 2s alternate infinite;
	animation: paper-plane-scoping 2s alternate infinite;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
	0% {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	100% {
		-webkit-transform: translateY(2em);
		-moz-transform: translateY(2em);
		transform: translateY(2em);
	}
}

.plane {
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;

	-webkit-animation: paper-plane-soaring 2s forwards infinite;
	-moz-animation: paper-plane-soaring 2s forwards infinite;
	animation: paper-plane-soaring 2s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	40% {
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	50% {
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	60% {
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	70% {
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}